<!-- 広告枠 -->
<section class="banner">
    <div class="row">
        <h3 class="text-center">広告</h3>
    </div>

    <!-- パターン1 -->
    <div id="ad1" class="row hideme">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
            <a href="https://amzn.to/4efyXeR" target="_blank">
                <img src="/img/banner/payslip.jpg" alt="人の給与明細">
            </a>
        </div>
        <div class="col-lg-4 col-md-5">
            <a href="https://amzn.to/44eTdIQ" target="_blank">
                <img src="/img/banner/treasure.jpg" alt="たからもの">
            </a>
        </div>
    </div>

    <!-- パターン2 -->
    <div id="ad2" class="row hideme">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
            <a href="https://amzn.to/4eqqrd1" target="_blank">
                <img src="/img/banner/case614_1.jpg" alt="Project:;COLD case.614 Strawberry and secrets 1">
            </a>
        </div>
        <div class="col-lg-4 col-md-5">
            <a href="https://amzn.to/4eqq5mH" target="_blank">
                <img src="/img/banner/case614_2.jpg" alt="Project:;COLD case.614 Strawberry and secrets 2">
            </a>
        </div>
    </div>

    <!-- パターン3 -->
    <div id="ad3" class="row hideme">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
            <a href="https://amzn.to/4efzu0l" target="_blank">
                <img src="/img/banner/exchangediary.jpg" alt="人の交換日記">
            </a>
        </div>
        <div class="col-lg-4 col-md-5">
            <a href="https://amzn.to/4kOwg6t" target="_blank">
                <img src="/img/banner/strange_pictures.jpg" alt="変な絵">
            </a>
        </div>
    </div>

    <!-- パターン4 -->
    <!--
    <div id="ad4" class="row hideme">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
            <a href="https://www.inamiisland.com/" target="_blank">
                <img src="/img/banner/inamiisland.png" alt="鋳波島">
            </a>
        </div>
        <div class="col-lg-4 col-md-5">
            <a href="https://shop.daiyonkyokai.net/products/calendar" target="_blank">
                <img src="/img/banner/calendar.png" alt="人のカレンダー">
            </a>
        </div>
    </div>
    -->
    <div id="ad4" class="row hideme">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
            <a href="https://amzn.to/3HQdo8Y" target="_blank">
                <img src="/img/banner/kinki.jpg" alt="近畿地方のある場所について">
            </a>
        </div>
        <div class="col-lg-4 col-md-5">
            <a href="https://q.hatena.ne.jp/1754274194" target="_blank" title="情報をお持ちの方はご連絡ください">
                <img src="/img/banner/503.jpg" alt="503号室の郵便物">
            </a>
        </div>
    </div>
</section>

<script type="text/javascript">
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }

    /* 表示する広告idを抽選で決定 */
    let ad = "";
    switch (getRandomInt(5)) {
        case 0:
            ad = "ad1";
            break;
        case 1:
            ad = "ad2";
            break;
        case 2:
            ad = "ad3";
            break;
        default:
            ad = "ad4";
            break;
    }

    /* 選択した広告を表示 */
    document.getElementById(ad).classList.remove("hideme");
</script>
