{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GuqGU_GeeQM?si=Bb_p_DjrNDv4sHSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <p>Xの<a href="https://x.com/about_A_message?s=20">@about_A_message</a>の投稿からたどり着いたのは「愛宝学園かがみの特殊少年更生施設」の公式サイト。どうやらこの施設には根深い闇が隠されているようです。<br>検索機能を駆使しつつこの施設の公式サイトを探索し、隠された真相を解き明かしましょう。</p>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="https://kagamino-jrep.net/">施設の公式サイトへ</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>このサイトは非公式の攻略サイトであり、隠されたページの一覧や仕込まれた謎のヒント・解説を掲載しています。行き詰まった時にご利用ください。<br>また、有志によるDiscordサーバーも稼働しています。以下のボタンよりぜひご参加ください。</p>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <a class="btn btn-info" href="https://discord.gg/78fd4JRETE">参加する</a>
        </div>
    </div>
  </div>
{{ end }}
